.catalog {
  padding-top: 55px;

  &__inner {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    align-items: stretch;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__tabs-wrapper {
    border-bottom: 1px solid $gray-light-border;
  }

  &__tab {
    @include text(20px, 23px, 400);
    font-family: $yeseva;
    color: $gray-light;
    margin-right: 40px;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      color: $hover;
      border-bottom: 3px solid $hover;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__tab--active {
    color: $dark;
    border-bottom: 3px solid $dark;
  }

  &__tabs-list {
    @include list-reset();
    display: flex;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 12px 0 20px 0;
  }

  &__tags {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // padding-right: 10px;
    width: 80%;
    min-height: 37px;
  }

  &__tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    height: 27px;
    padding: 3px 12px 3px 20px;
    @include text(12px, 26px, 400);
    border-radius: 25px;
    margin-right: 9px;
    margin-bottom: 10px;
    cursor: pointer;

    p {
      margin: 0 12px 0 0;
      pointer-events: none;
    }

    span {
      display: block;
      font-size: 15px;
      line-height: 12px;
      transform: rotate(45deg);
      pointer-events: none;
    }

    &:hover {
      background-color: $hover;
      color: $dark;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__gallery-view-btn {
    border: none;
    background-color: transparent;
    outline: none;

    svg {
      pointer-events: none;
    }

    &--active {
      svg path {
        fill: $dark;
      }
    }

    &:hover {
      svg path {
        fill: $hover;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__picture-wrapper {
    margin-bottom: 25px;
  }

  &__picture-text {
    @include text(14px, 20px, 400);
    font-family: $helvetica;
    text-align: center;
    margin: 0 auto;
  }

  &__picture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  &__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &__empty-message {
    font-family: $helvetica;
    text-align: center;
    @include text(16px, 18px, 400);
    margin: 25px auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    &__pictures {
      &--big {
        width: 600px;

        .catalog__picture {
          width: 280px;
          height: 317px;
        }
        .catalog__picture-text {
          max-width: 245px;
        }
      }

      &--small {
        width: 680px;

        .catalog__picture {
          width: 200px;
          height: 226px;
        }
        .catalog__picture-text {
          max-width: 200px;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    overflow: hidden;

    &__inner {
      flex-direction: column;
    }

    &__tabs-wrapper {
      overflow: auto;
      margin-right: -20px;
    }

    &__picture-wrapper {
      width: 43%;
    }

    &__picture {
      width: 100%;
      padding-top: 122%;
    }

    &__picture-text {
      text-align: left;
    }

    &__filter-toggle-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 29px;
      padding: 5px 6px 5px 15px;
      @include text(12px, 26px, 400);
      background-color: transparent;
      border: 1px solid $gray-light-border;
      margin-bottom: 20px;
      outline: none;

      svg {
        display: block;
      }
    }

  }
}

@media (min-width: 670px) and (max-width: $mobile-width) {
  .catalog__picture {
    width: 100%;
    padding-top: 122%;
  }

  .catalog__picture-wrapper {
    width: 30%;
  }
}

.catalog__filtered-wrapper {
  display: flex;
  flex-direction: column;
}
