.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: $yeseva;
    @include text(40px, 40px, 400);
    color: $dark;
    width: 30%;
    margin-top: 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    padding-right: 19px;
  }

  &__button {
    @include text(14px, 30px, 700);
    height: 30px;
    width: max-content;
    padding: 0;
    color: $dark;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 7px;

    span {
      display: block;
      line-height: 100%;
      text-align: left;
    }

    &:hover {
      color: $hover;

      svg path {
        fill: $hover;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
    padding-bottom: 60px;

    &__top {
      flex-direction: column;
    }

    &__title {
      width: 100%;
    }

    &__bottom {
      flex-direction: column-reverse;
      padding-right: 0;
      margin-top: 20px;
    }

    &__button {
      margin-bottom: 40px;
    }
  }
}
