.ya-share2__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 34px;
  border: 1px solid $gray-light;
  margin-right: 10px;
}

.ya-share2__link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}
