.ya-share2__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 34px;
  border: 1px solid $gray-light;
  margin-right: 10px;
}

.ya-share2__link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:focus {
    outline: dashed 2px rgba(255, 166, 0, 0.5);
    outline-offset: 5px;
  }
}

.ya-share2__item_service_twitter .ya-share2__icon {
  background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M22 5.7988c-.7437.3262-1.5363.5424-2.3625.6475.85-.5076 1.4988-1.305 1.8037-2.2663-.7924.4725-1.6674.8063-2.6.9925-.7525-.8013-1.825-1.2975-2.995-1.2975-2.2699 0-4.0975 1.8425-4.0975 4.1013 0 .325.0275.6374.0951.935-3.4088-.1663-6.425-1.8-8.4513-4.2888-.3538.6138-.5613 1.3163-.5613 2.0725 0 1.42.7313 2.6787 1.8213 3.4075-.6587-.0125-1.305-.2037-1.8525-.505v.045c0 1.9925 1.4213 3.6475 3.285 4.0287-.3338.0913-.6975.135-1.075.135-.2625 0-.5275-.0149-.7763-.07.5313 1.6238 2.0388 2.8176 3.8313 2.8563a8.2382 8.2382 0 01-5.0837 1.7487c-.3363 0-.6588-.0149-.9813-.0562 1.8163 1.1713 3.9688 1.84 6.29 1.84 7.545 0 11.67-6.25 11.67-11.6675 0-.1813-.0062-.3562-.015-.53.8138-.5775 1.4975-1.2988 2.055-2.1288z' fill='%23202020'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(2 2)' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
}

.ya-share2__item_service_facebook .ya-share2__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.375 8.5625v-2.75c0-.759.616-1.375 1.375-1.375h1.375V1h-2.75C11.0966 1 9.25 2.8466 9.25 5.125v3.4375H6.5V12h2.75v11h4.125V12h2.75L17.5 8.5625h-4.125z' fill='%23202020'/%3E%3C/svg%3E%0A") !important;
}

.ya-share2__item_service_vkontakte .ya-share2__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.7861 17.3674c-.0645-.1081-.4635-.9751-2.3837-2.7573-2.0101-1.8661-1.7401-1.5631.6811-4.7898 1.4746-1.9651 2.0641-3.1652 1.8796-3.6783-.1755-.489-1.2601-.36-1.2601-.36l-3.6062.021s-.2671-.036-.4666.0825c-.1935.117-.318.387-.318.387s-.5715 1.5211-1.3336 2.8142c-1.6066 2.7287-2.2502 2.8728-2.5127 2.7032-.6105-.3945-.4575-1.5871-.4575-2.4331 0-2.6447.4005-3.7473-.7816-4.0323-.393-.0945-.681-.1575-1.6846-.168-1.2871-.0136-2.3777.0044-2.9942.306-.411.201-.7276.6495-.534.675.2385.0315.7785.1455 1.065.5356.3705.5025.357 1.6336.357 1.6336s.213 3.1127-.4965 3.4997c-.4875.2656-1.155-.276-2.5877-2.7527-.7336-1.2676-1.2886-2.6702-1.2886-2.6702s-.1065-.261-.297-.4005c-.231-.1695-.555-.2235-.555-.2235l-3.4293.021s-.5145.015-.7036.2385c-.168.1995-.0135.6106-.0135.6106s2.6852 6.2809 5.7245 9.4477c2.7887 2.9027 5.9539 2.7122 5.9539 2.7122h1.4341s.4335-.048.6541-.2866c.204-.219.1965-.63.1965-.63s-.0285-1.9247.8655-2.2082c.8806-.279 2.0117 1.8602 3.2103 2.6837.906.6226 1.5946.4861 1.5946.4861l3.2057-.045s1.6772-.1035.8821-1.4221z' fill='%23202020'/%3E%3C/svg%3E%0A") !important;
}
